<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lshwan.hof_backend.mapper.MemberMapper">
    <select id="findAll" resultType="Member">
        SELECT * FROM tbl_wwmember;
    </select>
</mapper>